:root {
    --primary-color: gainsboro;
    --secoundary-color: black;
}
@media(max-width: 800px){
    .navbar-input{
        display: none;
    }
   
    .search-icon{
        display: none;
    }
    .navbar-wrapper{
        width: 100%;
        height: 4rem;
        font-size:5rem;
    }
    .link-wrapper{
        padding: 0px;
        height: 100%;
    }
    .profile-icon{
        font-size: x-large;
    }
    .heart-wish-icon{
        font-size:x-large ;
    }
    .bag-icon{
        font-size: x-large;
    }
h1{
    font-size: smaller;
    padding: 0%;
}
.navbar-item-link{
    display: none;
}
}
.navbar-wrapper{
    background-color:  var(--primary-color);
    flex-basis: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
    width: 100%;
    font-size: 2rem; 
  }
  .navbar-wrapper h1 {
    padding: 2rem;
  }
  
 .navbar-input{
    border: 3px solid black;
border-radius: 10px;
    font-size: 2rem;
 }
 .search-icon{
    font-size: 2rem;
 }
 .link-wrapper{
display: flex;
gap: 4rem;
    font-size: 3rem;
    padding: 2rem;
 }
 .profile-icon{
   color: var(--secoundary-color);
 }
 .bag-icon{
    color: var(--secoundary-color);
 }

 .heart-wish-icon{
    color: var(--secoundary-color);
 }
 .navbar-item-link{
    /* display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    flex-basis: 50%; */
    text-decoration: none;
    padding: 5rem;
    font-size: larger;
    color: var(--secoundary-color);
 }