.e-shop-sidebar-wrapper{
    display: flex;
    flex-basis: 200px;
    flex-direction: column;
    border-right: 3px solid whitesmoke;
    width: 30%;
    margin-top: 2px;
    background-color: whitesmoke;
  padding: 1rem;

}
.sidebar-top-headding{
    display: flex;
    justify-content: space-between;
}
.clear-link{
  text-decoration: none;
  color: black;
}
.clear-link :hover{
  font-size: larger;
}