.bag-icon-wrapper{
    position: relative;
}
.bag-icon-value{
    display: flex;
    justify-content: center;
    position: absolute;
    border: 1px solid black;
    border-radius: 50%;
    height: .50rem;
    width: .50rem;
    font-size: 6px;
    bottom: 1rem;
    left: 10px;
    top: -2px;
    font-weight: bold;
   padding: 1px;
   background-color: var(--primary-color);
}
.wish-icon-wrapper{
    position: relative;
}

.wish-icon-value{
      display: flex;
    justify-content: center;
    position: absolute;
    border: 1px solid black;
    border-radius: 50%;
    height: .50rem;
    width: .50rem;
    font-size: 6px;
    bottom: 1rem;
    left: 10px;
    top: -2px;
    font-weight: bold;
   padding: 1px;
   background-color: var(--primary-color);
}