.e-commerce-navbar-wrapper{
    background-color:  gainsboro;
    flex-basis: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
    width: 100%;
  }
  .e-commerce-navbar-wrapper h1 {
    padding: 2rem;
  }
  .e-navbar-link{
    text-decoration: none;
    padding: 3rem;
    font-size: 2rem;
    color: black;
 }
 .e-navbar-input{
    border: 3px solid black;
border-radius: 5px;
    font-size: 2rem;
 }
 .search-icon{
    font-size: 2rem;
 }
 /* .e-commerce-icon{
display: flex;
align-ite
ms: center;
 } */